@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-zinc-900;
  color-scheme: dark;
}

@layer components {
  .prose p {
    font-family: "Crimson Pro", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
}

@keyframes flash {
  0% {
    @apply bg-zinc-700/20;
  }
  100% {
    background-color: transparent;
  }
}

/* Force cache bust */
